@font-face {
    font-family: "Trajan Pro";
    src: url("../fonts/trajan-pro/TrajanPro-Regular.ttf");
}
@font-face {
    font-family: "Trajan Pro Bold";
    src: url("../fonts/trajan-pro/TrajanPro-Bold.otf");
}
@font-face {
    font-family: "Garamond";
    src: url("../fonts/garamond_[allfont.ru].ttf");
}
header img {
    height: auto;
    width: 200px;
    border-color: black 5px solid;
}
header {
    display: flex;
    align-items: center;
    background-color: #12343d;
}
header h1 {
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 10px #f0e1c9;
    font-family: "Trajan Pro Bold";
    font-size: 60px;
    color: white;
}
#container {
    margin: 0 auto;
    background-color: #12343d;
    max-height: auto;
    width: 80%;
    margin-bottom: 30pxx;
    margin-top: 0;
    border: 5px solid black;
    border-radius: 5px;
    border-width: 5px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}
#container h1 {
    font-family: "Garamond", serif;
    font-size: 40px;
    margin: 0;
    color: white;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 100px;
    grid-column: 1 / 3;
}
#container p {
    font-size: 25px;
    color: white;
    font-family: "Trajan Pro", serif;
}

body {
    background-color: white;
}
nav {
    background-color: #f0e1c9;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #12343d;
    font-family: "Trajan Pro", serif;
    font-size: 30px;
    align-content: center;
    justify-content: center;
}
nav a:hover {
    text-decoration: underline;
}
#container img {
     float: right;
     margin: 0 0 10px 10px;
     width: 400px;
     margin: 30px;
}
#p1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
#p2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3
}
#p3 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
#p4 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}
#p5 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}
#i1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
#i2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
#i3 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}
#i4 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}
#i5 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}