header img {
    height: auto;
    width: 200px;
    border-color: black 5px solid;
}
header {
    display: flex;
    align-items: center;
    background-color: #12343d;
}
header h1 {
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 10px #f0e1c9;
    font-family: "Trajan Pro Bold", serif;
    font-size: 48px;
    color: white;
}
#container {
    margin: 0 auto;
    background-color: #12343d;
    max-height: auto;
    width: 90%;
    margin-bottom: 0;
    margin-top: 0;
    border: 5px solid black;
    border-radius: 5px;
    border-width: 5px;
    padding: 10px;
}
#container h1 {
    font-family: "Garamond", serif;
    font-size: 50px;
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 30px;
}
#container p {
    font-size: 30px;
    color: white;
    font-family: "Garamond", serif;
}

body {
    background-color: #12343d;
}
@font-face {
    font-family: "Trajan Pro";
    src: url("../fonts/trajan-pro/TrajanPro-Regular.ttf");
}
@font-face {
    font-family: "Trajan Pro Bold";
    src: url("../fonts/trajan-pro/TrajanPro-Bold.ttf");
}
@font-face {
    font-family: "Garamond";
    src: url("../fonts/garamond/Garamond-Regular.ttf");
}
nav {
    background-color: #f0e1c9;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #12343d;
    font-family: "Trajan Pro", serif;
    font-size: 20px;
}
nav a:hover {
    text-decoration: underline;
}
#container img {
     float: right;
     margin: 0 0 10px 10px; /* top right bottom left spacing */
     width: 400px;
}