header img {
    height: 200px;
    width: auto;
    border-color: black 5px solid;
}
header {
    display: flex;
    align-items: center;
    font-family: "Trajan Pro Bold", serif;
    font-size: 48px;
    color: white;
}
header h1 {
    justify-content: center;
}
#container {
    width: 900px;
    margin: 0 auto;
    background-color: #12343d;
}
body {
    background-image: url("images/newbackgroundattempt.png");
    background-repeat: repeat;
    background-size: 200px auto;
}
@font-face {
    font-family: "Trajan Pro";
    src: url("../fonts/trajan-pro/TrajanPro-Regular.ttf");
}
@font-face {
    font-family: "Trajan Pro Bold";
    src: url("../fonts/trajan-pro/TrajanPro-Bold.ttf");
}
@font-face {
    font-family: "Garamond";
    src: url("../fonts/garamond/Garamond-Regular.ttf");
}